@charset "UTF-8";

table, th, td{
	border-collapse: collapse;
	background-color: white;
}
section table {
	width: 65%;	
}
section {
	padding-top: 10%;
	padding-left: 15%;	
}
th, td {
	padding: 0.45vh;
	text-align: center;
}